body {
	background: #f0f3f5;
	color: #fff;
}

header {
	background: #223EDC;
	padding: 20px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

.contenedor-main {
	margin-bottom: 20px;
}

main {
	background: #fff;
	color: #424242;
	padding: 20px 0;
}

aside {
	background: #dee5e8;
	padding: 60px 0;
	color: #0d47a1;
}

.widgets {
	margin-bottom: 20px;
}

.widgets > div {
	background: #2196f3;
	color: #fff;
	padding: 20px;
}

footer {
	padding: 20px 0;
	background: #1e1e1e;
	color: #f2f2f2;
}
.imagen {

	background: url('mcbross3.png');
	background-repeat: no-repeat;
	background-position: center;
}
